<mat-toolbar color="indigo">
  <span>Test Application</span>
  <div class="example-button-row">
    <button mat-button color="primary">Home</button>
    <button mat-button color="primary">Services</button>
    <button mat-button color="primary">Projects</button>
    <button mat-button color="primary">Leadership</button>
    <button mat-button color="primary">Contact Us</button>
  </div>
</mat-toolbar>

<form class="example-form">
  <table class="example-full-width" cellspacing="0">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Add Name</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>First name</mat-label>
              <input matInput />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Lat Name</mat-label>
              <input matInput />
            </mat-form-field>
          </td>
        </tr>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">ADD</button>
      </mat-card-actions>
    </mat-card>
  </table>
</form>
<div>
  <router-outlet></router-outlet>
</div>
